GROQ_API_KEY=groq_api_
GITHUB_TOKEN=github_pat
SLACK_BOT_TOKEN=slack-bot
SENDGRID_API_KEY=sendgrid
FROM_EMAIL=sender@email.com
TEST_EMAIL=receiver@email.com
REDIS_HOST=localhost
REDIS_PORT=6379
GMAIL_APP_PASSWORD=6272777666
GMAIL_USER=example@45.com